@import "~@angular/material/theming";
@import "./app/overlay-example/drop-down-search/drop-down-search.theme";
@include mat-core();

$angular-cdk-lessons-primary: mat-palette($mat-teal);
$angular-cdk-lessons-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-cdk-lessons-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-cdk-lessons-theme: mat-light-theme(
  $angular-cdk-lessons-primary,
  $angular-cdk-lessons-accent,
  $angular-cdk-lessons-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-cdk-lessons-theme);

// include custome themes
@include drop-down-search-theme($angular-cdk-lessons-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
